nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #d2b48c; /* Dark Khaki */
  }
  
  h1 {
    font-size: 2rem;
    color: #2f4f4f; /* Dark Slate Gray */
    padding-left: 2rem;
  }
  
  a {
    color: #4a4e4d; /* Gray */
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
    background-color:rgb(238, 236, 221)
  }
  
  a:hover {
    background-color: #b7a986; /* Dark Khaki - 20% */
  }
  